Podcasts/
.aws/
.expo/
.config/geary/
.config/goa-1.0/
.newsboat/cache.db
.newsboat/history.cmdline
.luarc.json
.kube/
.minikube/
.hasura/
.config/Android Open Source Project/
.emulator_console_auth_token
.objectbox-build.properties
kubectl
.dotnet/
.nix-defexpr/
.nix-profile
.android/
.logseq/
.config/systemd/user/default.*
.config/systemd/user/timers.*
.asdf/
.bash_history
.bash_logout
.nvmrc
.npmrc
.ansible/
.bin/
.cache/
.cargo/
.config/.gsd-keyboard.settings-ported
.config/QtProject.conf
.config/1Password/
.config/BraveSoftware/
.config/btop/btop.log
.config/Docker Desktop/
.config/HTTPie/
.config/MongoDB Compass/
.config/autostart/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/exercism/
.config/gcolor3/
.config/gedit/
.config/gh/hosts.yml
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/Google/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gtk-3.0/
.config/gtk-4.0/
.config/helix/runtime/
.config/htop/
.config/ibus/
.config/libreoffice/
.config/JetBrains/
.config/menus/
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nextjs-nodejs/
.config/ngrok/
.config/nvim/plugin/packer_compiled.lua
.config/omf/
.config/pop-shell/
.config/pop-system-updater/
.config/pulse/
.config/qalculate/
.config/syncthing/
.config/totem/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vim/
.config/vivaldi-snapshot/
.config/vivaldi/
.config/vlc/
.config/cef_user_data/
.config/pypoetry/
.deno/
.docker/
.emacs.d/
.gitconfig.local
.gnome/
.gnupg/
.gradle/
.hex/
.lesshst
.local/
.java/
.mix/
.mongodb/
.mozilla/
.node_repl_history
.npm/
.nvidia-settings-rc
.nvm/
.oh-my-bash/
.oh-my-zsh/
.opt/
.osh-update
.pki/
.profile
.pyenv/
.python_history
.rustup/
.sdirs
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmp/
.tea/
.tmux/
.vale.ini
.var/
.viminfo
.vscode/
.wget-hsts
.yarnrc
.z
.zcompdump*
.zoom/
.zsh_history
Android/
Code/
exercism/
Documents/
Documentos/
Downloads/
Obsidian/
Pictures/
Projects/
Videos/
dev/
go/
loggi/
notes/
org/
roam/
styles/
loggi
install.sh
*.mkv
*.mp4
# .config/nushell/
.config/nushell/history.txt
.config/microsoft-edge/
.config/emacs/
.otp/
.steam/
.steampath
.steampid
java_error_in_pycharm_.hprof
.config/jgit/
.config/Insomnia/
.th-client/
.config/eog/
thunder-client
.config/github-copilot
.config/nvim/pack/
.config/create-next-app-nodejs/
Desktop
.vim/
.config/xdg-terminals.list
.config/GNOME-xdg-terminals.list
.config/dleyna-renderer-service.conf
cv_debug.log
.redhat/
.config/cni/
.config/obsidian/
.tldr/
.sdkman/
.m2/
neovide_backtraces.log
.config/ghc
.config/nvtop
.config/forge
.xsel.log
.config/tmux/plugins
.config/Logseq/
.eclipse/
.sonarlint/
.swt/
.themes/
.config/skypeforlinux/
local-docker-compose.yml
local.dockerfile
.config/nix/
.devenv/
.config/Supernotes/
.config/appimagelauncher.cfg
Applications/
.config/Raspberry Pi/
.config/sqlitebrowser/
.audacity-data
Music/
.config/Zeal/
.Xclients
.bash_profile
.config/Kvantum/
.config/falkon/
.config/fish/completions/
.config/fish/conf.d/nvm.fish
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/functions/
.config/gnome-layout-switcher.conf
.config/manjaro-hello.json
.config/manjaro/
.config/nvim/autoload/plug.vim
.config/pamac/
.config/qt5ct/
.config/qt6ct/
.config/ranger/
.xinitrc
.zhistory
.zshrc.pre-oh-my-zsh
Templates/
.config/Electron/
.config/poetry
.conda/
anaconda3/
.ipython/
.config/fragments/
./pgadmin
.pgadmin/
.config/Code - OSS/
.vscode-oss/
.anydesk/
.fzf/
.config/environment.d
.config/background
.config/gthumb
.bundle/
.irb_history
.rbenv
.solargraph/
.gem/
.config/lazygit/state.yml
.yarn/
.config/com.gitbutler.app/
.config/warp-terminal/
.config/gh-copilot/
.config/systemd/user/sockets.target.wants/
.config/font-manager/
.config/op/
.luarocks/
.config/Neo4j Desktop
.config/fontconfig
.config/neo4j-relate
.ollama
.virtualenvs/
.clojure/
.clojure_history
.config/anytype/
debugpy/
.config/asdf-direnv/
.config/direnv/
dotfiles/
.motd_shown
.aws
.azure
miniconda3/
.config/zed/.tmp*
.config/sq/
.vscode-remote-containers/
.config/cosmic/
.sqlite_history
