[submodule ".fonts"]
	path = .fonts
	url = git@github.com:gustavofsantos/fonts.git
	branch = main

[submodule ".scripts"]
	path = .scripts
	url = git@github.com:gustavofsantos/private-scripts.git
	branch = main

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
