.luarc.json
.kube/
.minikube/
kubectl
.config/systemd/user/default.*
.config/systemd/user/timers.*
.asdf/
.bash_history
.bash_logout
.nvmrc
.npmrc
.ansible/
.bin/
.cache/
.cargo/
.config/.gsd-keyboard.settings-ported
.config/QtProject.conf
.config/1Password/
.config/BraveSoftware/
.config/btop/btop.log
.config/Docker Desktop/
.config/MongoDB Compass/
.config/chromium/
.config/coc/
.config/configstore/
.config/dconf/
.config/enchant/
.config/evolution/
.config/exercism/
.config/gcolor3/
.config/gedit/
.config/gh/hosts.yml
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gtk-3.0/
.config/gtk-4.0/
.config/helix/runtime/
.config/htop/
.config/ibus/
.config/lazygit/
.config/JetBrains/
.config/menus/
.config/microsoft-edge-dev/
.config/mimeapps.list
.config/monitors.xml
.config/monitors.xml~
.config/nautilus/
.config/nextjs-nodejs/
.config/nvim/plugin/packer_compiled.lua
.config/omf/
.config/pop-shell/
.config/pop-system-updater/
.config/pulse/
.config/qalculate/
.config/syncthing/
.config/totem/
.config/touchegg/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vim/
.config/vivaldi-snapshot/
.config/vivaldi/
.config/vlc/
.config/cef_user_data/
.config/pypoetry/
.deno/
.docker/
.emacs.d/
.gitconfig.local
.gnome/
.gnupg/
.gradle/
.hex/
.lesshst
.local/
.java/
.mix/
.mongodb/
.mozilla/
.node_repl_history
.npm/
.nvidia-settings-rc
.nvm/
.oh-my-bash/
.oh-my-zsh/
.opt/
.osh-update
.pki/
.profile
.pyenv/
.python_history
.rustup/
.sdirs
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.tmp/
.tea/
.tmux/
.vale.ini
.var/
.vim/
.viminfo
.vscode/
.wget-hsts
.yarnrc
.z
.zcompdump*
.zoom/
.zsh_history
Code/
exercism/
Documents/
Downloads/
Obsidian/
Pictures/
Projects/
Videos/
dev/
go/
loggi/
notes/
org/
roam/
styles/
loggi
install.sh

*.mkv
*.mp4
