[submodule ".fonts"]
	path = .fonts
	url = git@github.com:gustavofsantos/fonts.git
	branch = main

[submodule "projs/bjj"]
	path = projs/bjj
	url = git@github.com:gustavofsantos/bjj.git

[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
