[user]
  name = Gustavo Santos
  signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN6jpSle2MDWM6pTPtTFBrArA9uaNoXsH2+EV6a5rV/o

[alias]
  aa            = add --all
  c             = commit
  co            = checkout
  s             = status --short
  d             = diff
  ds            = diff --staged
  dw            = diff --color-words
  l             = log --pretty=default
  lg            = log --color --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%cr) %C(bold blue)<%an>%C(reset)' --abbrev-commit --branches
  rh            = reset --hard
  dft           = difftool
  undo          = reset --soft HEAD~1
  tags          = tag -l
  amend         = commit --amend --reuse-message=HEAD --no-verify
  contributors  = shortlog --summary --numbered

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
  template = ~/gitmessage

[github]
  user = gustavofsantos

[core]
  editor = nvim
  pager = delta

[merge]
  conflictstyle = diff3

[pretty]
  default = format:"%C(yellow)%h %C(blue)%cs %C(reset)%s%C(red)%d %C(green)%an%C(reset), %C(cyan)%ar'"
  deploy = format:"%h  %cs  %<(15,trunc)%an  %s"

[push]
  config = default
  default = current

[pull]
  rebase = true

[diff]
  tool = difftastic
  colorMoved = default

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[rerere]
  enabled = true

[branch]
  autosetuprebase = always

[interactive]
  diffFilter = delta --color-only

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = blue
  frag = magenta
  old  = red
  new  = green

[color "status"]
  added = yellow
  changed = green
  untracked = blue

[delta]
  dark = true
  line-numbers = true
  side-by-side = true

[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.local
  path = ~/themes.gitconfig

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[safe]
	directory = /opt/loggi
