""" map leader to space ---------------------
let mapleader=" "

""" plugins ---------------------------------
set surround
set easymotion
set commentary
set sneak
set nerdtree
set highlightedyank

""" plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:sneak#label=1

""" idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" common settings -------------------------
set scrolloff=10
set clipboard+=unnamed
set showmode
set ignorecase
set smartcase
set incsearch
set hlsearch
set so=5
set incsearch
set nu
set noswapfile
set nobackup
set hidden
set encoding=utf-8
set nohlsearch
set relativenumber

""" mappings --------------------------------
" Common LSP mappings
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gR <Action>(RenameElement)
map g. <Action>(ShowIntentionActions)
map K <Action>(QuickDocumentation)

map <leader>tn <Action>(Test

" Editor mappings
map <leader>o <Action>(GotoFile)
map <leader>e <Action>(RecentFiles)
map <leader>b <Action>(RecentFiles)
map <leader>l <Action>(SearchEverywhere)
map <leader>s <Plug>(easymotion-s)
map <leader>ws <Action>(SplitVertically)
map <leader>wS <Action>(SplitHorizontally)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)

map <C-h> <C-w>h
map <C-l> <C-w>l
map <C-k> <C-w>k
map <C-j> <C-w>j

map <C-\\> <Action>(ActivateTerminalToolWindow)

" project mappings
map <C-b> :NERDTreeToggle<CR>
map <leader>ff <Action>(GotoFile)
map <leader>pa <Action>(GotoAction)
map <leader>py <Action>(GotoSymbol)
map <leader>fl <Action>(SearchEverywhere)
map <leader>fe <Action>(RecentFiles)
map <leader>fee <Action>(RecentLocations)

""" File mappings ---------------------------

" -- Window and tab mappings
" Close a window
map <C-q> <Action>(CloseContent)

map <leader>z <Action>(ToggleZenMode)
