""" map leader to space ---------------------
let mapleader=" "

""" plugins ---------------------------------
set easymotion
set argtextobj
set NERDTree
set commentary
set surround

""" plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:sneak#label=1

""" idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" common settings -------------------------
set noerrorbells
set tabstop=2 softtabstop=2
set shiftwidth=2
set expandtab
set smartindent
set showmode
set so=5
set incsearch
set nu
set noswapfile
set nobackup
set cmdheight=2
set hidden
set encoding=utf-8
set nohlsearch
set relativenumber

""" mappings --------------------------------
" Editor mappings
map <leader>s <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

" project mappings
map <C-b> :NERDTree<CR>
map <leader>ff <Action>(GotoFile)
map <leader>pa <Action>(GotoAction)
map <leader>py <Action>(GotoSymbol)
map <leader>fl <Action>(SearchEverywhere)
map <leader>fe <Action>(RecentFiles)
map <leader>fee <Action>(RecentLocations)

""" File mappings ---------------------------
" -- Open move panel
map <leader>fm <Action>(Move)

" -- Code navigation mappings
" Go to symbol implementation
map <leader>gd <Action>(GotoImplementation)
" Show intent box
map <leader>ci <Action>(ShowIntentionActions)

" -- Window and tab mappings
" Close a window
map <C-q> <Action>(CloseContent)

" Git mappings
map <leader>gs <Action>(CheckinProject)
map <leader>gl <Action>(Vcs.History)
map <leader>gfl <Action>(Vcs.ShowTabbedFileHistory)

" Refactoring mappings
map <leader>rn <Action>(RenameElement)
map <leader>rf <Action>(RenameFile)
" Open "Refactor This" popup
map <leader>rt <Action>(Refactorings.QuickListPopupAction)

map <leader>z <Action>(ToggleZenMode)
map <C-n> <Action>(ActivateTerminalToolWindow)
