""" map leader to space ---------------------
let mapleader=" "

""" plugins ---------------------------------
Plug 'justinmk/vim-sneak'
set surround
set easymotion
set commentary
set ideajoin
set mini-ai
set highlightedyank

""" plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"
let g:sneak#label=1

""" idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

""" common settings -------------------------
set scrolloff=5
set clipboard+=ideaput
set showmode
set ignorecase
set smartcase
set incsearch
set hlsearch
set incsearch
set nonumber
set norelativenumber
set noswapfile
set nobackup
set hidden
set encoding=utf-8
set nohlsearch

""" mappings --------------------------------
" Common LSP mappings
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gR <Action>(RenameElement)
map g. <Action>(ShowIntentionActions)
map K <Action>(QuickDocumentation)


" Editor mappings
map <leader><leader> <C-^>
map <leader>p <Action>(GotoAction)
map <leader>o <Action>(GotoFile)
map <leader>e <Action>(RecentFiles)
map <leader>b <Action>(RecentFiles)
map <leader>l <Action>(FindInPath)
map <leader>ws <Action>(SplitVertically)
map <leader>wS <Action>(SplitHorizontally)
map <leader>rc <Action>(RunClass)
map <leader>tl <Action>(Rerun)
map <M-l> <Action>(copilot.applyInlays)
map <C-\\> <Action>(ActivateTerminalToolWindow)

map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-k> <C-w>k
nmap <C-j> <C-w>j

" Version control
map <leader>ghr <Action>(Vcs.RollbackChangedLines)

" project mappings
map <C-b> :NERDTreeToggle<CR>
map <leader>ff <Action>(GotoFile)
map <leader>pa <Action>(GotoAction)
map <leader>py <Action>(GotoSymbol)
map <leader>fl <Action>(SearchEverywhere)
map <leader>fe <Action>(RecentFiles)
map <leader>fee <Action>(RecentLocations)

""" File mappings ---------------------------

" -- Window and tab mappings
" Close a window
map <C-q> <Action>(CloseContent)

map <leader>z <Action>(ToggleZenMode)
